@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=DynaPuff:wght@500&family=Figtree&family=Itim&family=Kanit&family=Prompt&family=Rubik+Marker+Hatch&display=swap');
body{
    background: url('https://media.discordapp.net/attachments/920846679702396976/1031041748039905280/1157326.jpg?width=1178&height=662');
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-size: 250%;
}
.box{
    margin-left: 5%;
    
}
.neo{
    width: 20%;
    margin-left: 20%;
    margin-top: 2%;
    box-shadow: rgba(255, 0, 55, 0.4) 5px 5px, rgba(244, 31, 99, 0.3) 10px 10px, rgba(243, 78, 119, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.moo{
    width: 20%;
    margin-left: 18%;
    box-shadow: rgba(75, 24, 243, 0.4) 5px 5px, rgba(108, 13, 251, 0.3) 10px 10px, rgba(108, 78, 243, 0.2) 15px 15px, rgba(143, 77, 243, 0.1) 20px 20px, rgba(46, 75, 240, 0.05) 25px 25px;
}

.snip {
    background-color: black;
    color: white;
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    margin: 8px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: 20%;
    box-shadow: rgba(255, 0, 55, 0.4) 5px 5px, rgba(244, 31, 99, 0.3) 10px 10px, rgba(243, 78, 119, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}



.snip:before,
.snip:after {
    background-color: rgba(255, 30, 101, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.snip:before {
    -webkit-transform: scaleY(2);
    transform: scaleY()2;
}

.snip:after {
    -webkit-transform: scaleY(2);
    transform: scaleY()2;
}

.snip img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.snip figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

h3 a{
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}



.snip a {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    text-decoration: none;
    color: aliceblue;
    font-size: 200%;
}



.snip:hover:before,
.snip:hover:before,
.snip:hover:after,
.snip:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.snip:hover figcaption,
.snip:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/*-----------------------------------------------------------------------------------*/

.snip1 {
    background-color: black;
    color: white;
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    margin: 8px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: 10%;
    box-shadow: rgba(75, 24, 243, 0.4) 5px 5px, rgba(108, 13, 251, 0.3) 10px 10px, rgba(108, 78, 243, 0.2) 15px 15px, rgba(143, 77, 243, 0.1) 20px 20px, rgba(46, 75, 240, 0.05) 25px 25px;
}



.snip1:before,
.snip1:after {
    background-color: rgba(57, 57, 240, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.snip1:before {
    -webkit-transform: scaleY(2);
    transform: scaleY()2;
}

.snip1:after {
    -webkit-transform: scaleY(2);
    transform: scaleY()2;
}

.snip1 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}


.snip1 a {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    text-decoration: none;
    color: aliceblue;
    font-size: 200%;
}



.snip1:hover:before,
.snip1:hover:before,
.snip1:hover:after,
.snip1:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.snip1:hover figcaption,
.snip1:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

@media screen and (max-width: 1280px){
    .snip{
        margin-left: 15%;
    }
}

@media screen and (max-width: 1024px){
    .snip{
        width: 10%;
    }
    .snip1{
        width: 10%;
    }
}

